.recruitmentpage {
    --body70-fs: 7rem;

    .banner {
        background-image: url(../img/recruitment/banner.jpg);
        @include bg;
        width: 100%;
        position: relative;
        height: 645px;

        &__title {
            @include mid;

            h2,
            p {
                color: $white-cl;
            }

            h2 {
                font-size: var(--body70-fs);
            }
        }
    }

    .row {
        align-items: center;
        justify-content: space-between;
    }

    h3 {
        @include text(var(--body35-fs), 'SE', initial, $black-cl, uppercase);
        letter-spacing: 0.4px;
    }

    .content {
        h3 {
            padding: 15px 0 25px 0;
        }

        padding-top: 60px;
        --mt:125px;
        --mb: 200px;

        &__text {
            position: relative;
            margin: var(--mt) auto var(--mb);

            &::before {
                @include line(90px, 8px, $black-cl);
                top: 0px;
                left: -65px;
            }

            p {
                letter-spacing: 0.4px;
                @include text(var(--body18-fs), 'U', initial, $black-cl, none);
            }

            ul {
                li {
                    padding: 10px 0;
                    @include text(var(--body18-fs), 'U', initial, $black-cl, none);

                    &.--title {
                        @include text(var(--body30-fs), 'SE', initial, $black-cl, uppercase);
                    }
                }
            }
        }

        &__img {
            height: 0;
            padding-bottom: 60%;
            overflow: hidden;

            img {
                width: 100%;
                @include mid;
                min-height: 100%;
                max-height: 100%;
                object-fit: cover;
                max-width: 100%;
            }
        }
    }

    .position {
        padding: 100px 0 120px 0;
        --body32-fs: 3.2rem;
        --pt: 250px;
        --pb: 80px;

        &__title {
            position: relative;
            text-align: center;

            h3 {
                padding-top: 25px;
            }

            &::before {
                @include line(50px, 8px, $black-cl);
                top: 0;
                left: 50%;
                @include transform(translateX(-50%));
            }
        }

        .container {
            position: relative;
        }

        &__bg {
            margin-top: var(--pt);
            position: relative;
            background-image: url(../img/recruitment/background.jpg);
            @include bg;
            width: 100%;
            height: 548px;

            img {
                width: 100%;
            }

            &-item {
                position: absolute;
                top: -170px;

                .item {
                    background: $white-cl;
                    padding: 40px;
                    text-align: center;
                    border: 1px solid #d8d8d8;
                    position: relative;

                    h4 {
                        padding-top: 27px;
                    }

                    p {
                        padding: 40px 0 var(--pb) 0;
                        line-height: initial;
                    }

                    h4,
                    .des {
                        @include text(var(--body32-fs), 'DB', initial, $red-cl, uppercase);
                        letter-spacing: 0.4px;
                    }

                    .des {
                        color: $black-cl;
                        padding: 15px 0 40px;
                        position: relative;

                        &::after {
                            @include line(50px, 8px, $black-cl);
                            bottom: 0;
                            left: 50%;
                            transform: translateX(-50%);
                        }
                    }

                    a {
                        padding-bottom: 23px;
                        @include text(var(--body25-fs), 'SE', null, $red-cl, none);
                        text-decoration: underline;
                    }

                    &::after {
                        @include line(100.5%, 18px, $red-cl);
                        left: -1px;
                        bottom: -1px;
                    }
                }
            }
        }
    }

    @include sm {
        --body70-fs: 6rem;

        .banner {
            height: 545px;
        }

        .content {
            padding-top: 60px;
            --mt: 100px;
            --mb: 150px;
        }

        .position {
            --body32-fs: 3rem;
            --pb: 60px;

            &__bg {
                &-item {
                    .item {
                        padding: 30px;

                        .des {
                            padding: 10px 0 30px;
                        }

                        p {
                            padding: 30px 0 var(--pb) 0;
                        }
                    }
                }
            }
        }

        .item1 {
            padding-top: 15px;
        }
    }

    @include xs {
        --body70-fs: 5rem;

        .banner {
            height: 345px;
        }

        .content {
            --mt: 50px;
            --mb: 80px;
        }

        .position {
            --body32-fs: 2.8rem;

            &__bg {
                height: 900px;
            }
        }

        .item1 {
            padding-top: 15px;
        }

        .row-item1 {
            flex-direction: column-reverse;
        }
    }
}